kfp
fire
pytest
mlflow>=1.17.0
scikit-learn
joblib
matplotlib
pandas
pandas_gbq
seaborn
catboost==0.25.1
google==3.0.0
google-api-core==1.28.0
google-api-python-client==1.12.8
google-cloud
google-cloud-core
google-cloud-bigquery[bqstorage,pandas]
google-cloud-bigquery-storage
google-cloud-storage
apache-beam[gcp]